/* DB Settings Styling */

.db-woo-converter-admin h1 {
    font-size: 3em;
}

.db-woo-converter-admin h2 {
    font-size: 2em;
    margin-top: 2em;
}

.db-woo-converter-description p {
    color: #525d65;
    font-size: 1.5em;
    margin: .5em 0;
}

.db-woo-converter-admin .db-woo-converter-table {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: rgba(255,255,255,.75);
    width: 100%;
}

.db-woo-converter-admin .db-woo-converter-table tr:first-child > :first-child {
    -webkit-border-top-left-radius: 25px;
    -moz-border-radius-topleft: 25px;
    border-top-left-radius: 25px;
}

.db-woo-converter-admin .db-woo-converter-table tr:first-child > :last-child {
    -webkit-border-top-right-radius: 25px;
    -moz-border-radius-topright: 25px;
    border-top-right-radius: 25px;
}

.db-woo-converter-admin .db-woo-converter-table tr:last-child > :first-child {
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-bottom-left-radius: 25px;
}

.db-woo-converter-admin .db-woo-converter-table tr:last-child > :last-child {
    -webkit-border-bottom-right-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    border-bottom-right-radius: 25px;
}

.db-woo-converter-admin .db-woo-converter-table th,
.db-woo-converter-admin .db-woo-converter-table td {
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 30px;
}

.db-woo-converter-field-description {
    font-size: .9em;
    font-style: italic;
    font-weight: 400;
}

.db-woo-converter-rate-cbr,
.db-woo-converter-date-cbr,
.db-woo-converter-rate-website {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.db-woo-converter-rate-cbr span,
.db-woo-converter-date-cbr span,
.db-woo-converter-rate-website span {
    font-weight: 700;
}

.db-woo-converter-rate-cbr span,
.db-woo-converter-rate-website span {
    font-size: 1.5em;
}

.db-center {
    text-align: center;
}

